<h3>Projects</h3>
<hr>
<div class="d-flex justify-content-start gap-2 flex-wrap">
  <div class="card project-card p-2" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Proj</h5>
      <p class="card-text">
        Description: test test test test <br>
        Lead Developer: stou
      </p>
      <button class="btn btn-primary btn-sm me-5 " routerLink="dev-project-detail">Details</button>
      <button class="btn btn-primary btn-sm">Fill Form</button>
    </div>
  </div>
  <div class="card project-card p-2" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Projtest</h5>
      <p class="card-text">
        Description: test test test test test test <br>
        Lead Developer: stou
      </p>
      <button class="btn btn-primary btn-sm me-5 " routerLink="dev-project-detail">Details</button>
      <button class="btn btn-primary btn-sm" routerLink="fill-form">Fill Form</button>    </div>
  </div>
</div>
