<h3>Details</h3>
<hr>
<div class="card detail-card p-4">
  <div class="card-body">
    <h4 class="card-title">Security Consltant</h4>
    <p class="card-text">
      <strong>firstname:</strong> stou<br>
      <strong>lastname:</strong> stou<br>
      <strong>email:</strong> stou@gmail.com<br>

    </p>
    <h5>Associated Reports</h5>
    <ul class="list-group">
      <li class="list-group-item">Report 1 - Submitted on 2024-08-01</li>
      <li class="list-group-item">Report 2 - Submitted on 2024-08-15</li>
    </ul>
    <button class="btn btn-primary btn-sm mt-3">Update</button>
  </div>
</div>
