<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="javascript:void(0)">developer</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/developer">
            <i class="fas fa-home-alt"></i>&nbsp;Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="dev-forms">
            <i class="fas fa-archive"></i>&nbsp;Forms
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="dev-projects">
            <i class="fas fa-project-diagram"></i>&nbsp;Projects
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="dev-detail">
            <i class="fas fa-user"></i>&nbsp;Details
          </a>
        </li>
      </ul>
      <!-- + New Button -->
      <form class="d-flex gap-2 align-items-center" role="search">
        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit"><i class="fas fa-search"></i></button>
        <span>Welcome</span>
        <span class="text-capitalize fw-bold">mustapha</span>
        <button class="btn btn-link" type="submit" (click)="logout()"><i class="fas fa-door-open"></i></button>
      </form>
    </div>
  </div>
</nav>
