<h3>Project/ Form Details</h3>
<hr>
<div class="card detail-card p-4">
  <div class="card-body">
    <h4 class="card-title">proj</h4>
    <p class="card-text">
      <strong>Description:</strong> test test test test test test test test test test <br>
      <strong>Lead Developer:</strong> stou<br>
      <strong>Status:</strong> In Progress<br>
      <strong>Start Date:</strong> 2024-07-01<br>
      <strong>Expected Completion:</strong> 2024-12-31
    </p>
    <h5>Associated Forms</h5>
    <ul class="list-group">
      <li class="list-group-item">Form 1 - Submitted by stou on 2024-08-01</li>
      <li class="list-group-item">Form 2 - Submitted by stou on 2024-08-15</li>
    </ul>
  </div>
</div>
