<div class="container mt-4">
  <h2>Create User</h2>
  <form (ngSubmit)="onSubmit()" #userForm="ngForm">
    <div class="mb-3">
      <label for="firstname" class="form-label">First Name</label>
      <input
        type="text"
        class="form-control"
        id="firstname"
        name="firstname"
        [(ngModel)]="firstname"
        required
      />
    </div>
    <div class="mb-3">
      <label for="lastname" class="form-label">Last Name</label>
      <input
        type="text"
        class="form-control"
        id="lastname"
        name="lastname"
        [(ngModel)]="lastname"
        required
      />
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        [(ngModel)]="email"
        required
      />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        [(ngModel)]="password"
        required
      />
    </div>

    <div class="mb-3">
      <label for="role" class="form-label">Role</label>
      <input
        class="form-select"
        id="role"
        name="role"
        [(ngModel)]="role"
        required
      />
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!userForm.form.valid">Create User</button>
  </form>
</div>
